# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common libraries used in Data Data Science
- Perform arithmetic operations in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Microsoft VS Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [36]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [38]:
# This will convert 200 minutes to hours by dividing by 60
200*(1/60)

3.3333333333333335

## Author
Gabrielle L.